*.html linguist-detectable=false
*.js linguist-detectable=false
*.rmd linguist-detectable
*.Rmd linguist-detectable
*.qmd linguist-detectable
*.lua linguist-detectable=false
*.tex linguist-detectable=false
*.scss linguist-detectable=false
*.css linguist-detectable=false
