/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// font family
$font-family-sans-serif: 'Ubuntu', Arial, sans-serif !default;
$presentation-font-size-root: 36px;

// colours
$code-block-bg: #fafafa;
$link-color: #1A936F;
$code-color: #1A936F !default;

/*-- scss:rules --*/

.btn-webr {
  background-color: $code-block-bg !important;
  border-color: $link-color;
  border-width: 3px;
  border-radius: 15px !important;
  padding: 10px;
  font-family: $font-family-sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  cursor:pointer;
}

.reveal .slides {
  padding: 30px;
  width: 60% !important;
}

.reveal .slide-menu-button {
    left: 5px;
    top: 15px;
    padding-left: 10px;
    color: #baded3;
  }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #1A936F;
  height: 2%;
}


h1 {
  padding-bottom: 30px;
  padding-top: 60px;
}

h2 {
  padding-bottom: 35px;
  padding-top: 20px;
}